body {
    display: grid;
    justify-content: center;
    background-color: rgb(69, 69, 192);
}

h1, h2, p {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 80px;
}

p {
    margin: 0 30% 0 30%;
    font-size: large;
}