@use 'variables';
@use 'mixin';

body {
    @include mixin.background;
    display: grid;
    align-items: center;
    font-family: variables.$font;
}

.jobBox {
    @include mixin.box;
    @include mixin.flex;
    width: 50%;
    margin: auto
}


h1, p {
    color: white;
}

a {
    @include mixin.button;
}
