@use 'variables';
@use 'mixin';

body {
    @include mixin.background;
    display: grid;
    align-items: center;
}

.jobBox {
    @include mixin.box;
    @include mixin.flex;
    width: 50%;
    margin: auto
}

a {
    @include mixin.button;
}
