@use 'variables';
@use 'mixin';


body {
    @include mixin.flex;
    @include mixin.background;
    font-family: variables.$font;
}

.aboutBox {
    @include mixin.box;
    @include mixin.flex;
    width: 50%;
    margin: auto;
}

img {
    @include mixin.box;
    height: 400px;
    width: auto;
    margin: auto;
}

h1, h2, p {
    @include mixin.flex;
    color: white;
}

a {
    @include mixin.button;
}