@mixin flex {
    display: grid;
    justify-content: center;
}

@mixin margin {
    margin: 0 150px 0 150px;
}

@mixin background {
    background: linear-gradient(6deg, #3b6ffd 10%, #7b4bff 40%);
    background-repeat: no-repeat;
    height: 100vh;
}